<ion-view view-title="Camera">
        <ion-content class="padding">

        <div class="bar bar-header bar-balanced">
            <h1 class="title">Media</h1>
        </div>    
            <br>
            <br>
            
            
<div class="list card" >   
    <br>         

      <div>
        <img class="full-image" src="img/image.png">
      </div>   
        <button class="button button-full button-energized" ng-click="takePhoto()">
                Capture Image
        </button>
<br>         
<br>
    
     <div>
            <img class="full-image" src="img/photo-camera.png">

        </div>
        <button class="button button-full button-energized" ng-click="choosePhoto()">
                Choose Image
        </button>
<br>
       
</div>
        </ion-content>
</ion-view>

