<ion-view view-title="Geo Capture">
  <ion-content class="padding">

<div class="bar bar-header bar-balanced">
  <h1 class="title">Geo Capture Log</h1>
</div>
      <br>
      <br>
      <br>
    
      
<div class="list">

    <a class="item item-thumbnail-left" href="#map">

    <img src="img/safari.jpg">
    <h2>Rietvlei Nature Reserve</h2>  
    <h3>39 Dinokeng Big 5 Game Reserve, Laksman, Pretoria, 0400</h3>
        <p>On a Safari with the family</p>
    <a href="#" class="subdued">4 Likes</a>
    <a href="#" class="subdued">2 Comments</a>
    </a>

      
    <a class="item item-thumbnail-left" href="#map">
      <img src="img/friends.jpg">
    <h2>Dinokeng Nature Reserve</h2>  
    <h3>Duke Road, Margate, 4275</h3>
      <p>Catching up with old friends</p>
      <a href="#" class="subdued">3 Likes</a>
      <a href="#" class="subdued">6 Comments</a>
    </a>
    
          
    <a class="item item-thumbnail-left" href="#map">
      <img src="img/rebecca.jpg">
    <h2>Home</h2>  
    <h3>Lemonwood St, Centurion, 0144</h3>
      <p>At home chilling by the pool</p>
      <a href="#" class="subdued">3 Likes</a>
      <a href="#" class="subdued">1 Comment</a>
    </a>
    
    <a class="item item-thumbnail-left" href="#map">
      <img src="img/planeselfie.png">
    <h2>Heading to London</h2>  
    <h3>OR Tambo Airport Rd, Johannesburg, 1627</h3>
      <p>Heading off to London on an adventure with my bestie</p>
      <a href="#" class="subdued">8 Likes</a>
      <a href="#" class="subdued">4 Comments</a>
    </a>
    
    <a class="item item-thumbnail-left" href="#map">
      <img src="img/bigben.jpg">
    <h2>Exploring London Day 3</h2>  
    <h3>London SW1A 0AA, United Kingdom</h3>
      <p>Meeting Ben for the first time</p>
      <a href="#" class="subdued">3 Likes</a>
      <a href="#" class="subdued">6 Comments</a>
    </a>
      
      
    <a class="item item-thumbnail-left" href="#map">
      <img src="img/friends.jpg">
    <h2>Dinokeng Nature Reserve</h2>  
    <h3>Duke Road, Margate, 4275</h3>
      <p>Catching up with old friends</p>
    <a href="#" class="subdued">5 Likes</a>
    <a href="#" class="subdued">9 Comments</a>
    </a>
    
    <a class="item item-thumbnail-left" href="#map">
      <img src="img/rebecca.jpg">
    <h2>Grands Garden</h2>  
    <h3>Lemonwood St, Centurion, 0144</h3>
      <p>Enjoying a summers day</p>
      <a href="#" class="subdued">2 Likes</a>
      <a href="#" class="subdued">2 Comments</a>
    </a>
    
    <a class="item item-thumbnail-left" href="#map">
      <img src="img/planeselfie.png">
    <h2>Heading to London</h2>  
    <h3>OR Tambo Airport Rd, Johannesburg, 1627</h3>
      <p>Heading off to London on an adventure with my bestie</p>
              <a href="#" class="subdued">4 Likes</a>
      <a href="#" class="subdued">9 Comments</a>
    </a>
    
    <a class="item item-thumbnail-left" href="#map">
      <img src="img/bigben.jpg">
    <h2>Exploring London Day 3</h2>  
    <h3>London SW1A 0AA, United Kingdom</h3>
      <p>Meeting Ben for the first time</p>
        <a href="#" class="subdued">9 Likes</a>
      <a href="#" class="subdued">4 Comments</a>
    </a>
</div>
      
      
      
      
     </ion-content>
</ion-view>
